<link rel="import" href="../polymer/polymer.html">

<dom-module id="flag-icons-styles">
    <template>
        <custom-style>
            <style is="custom-style">
                .flag-icon-background {
                    background-size: contain;
                    background-position: 50%;
                    background-repeat: no-repeat;
                }
                
                .flag-icon {
                    background-size: contain;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    position: relative;
                    display: inline-block;
                    width: 1.33333333em;
                    line-height: 1em;
                }
                
                .flag-icon:before {
                    content: "\00a0";
                }
                
                .flag-icon-ad {
                    background-image: url(icons/ad.svg);
                }
                
                .flag-icon-ae {
                    background-image: url(icons/ae.svg);
                }
                
                .flag-icon-af {
                    background-image: url(icons/af.svg);
                }
                
                .flag-icon-ag {
                    background-image: url(icons/ag.svg);
                }
                
                .flag-icon-ai {
                    background-image: url(icons/ai.svg);
                }
                
                .flag-icon-al {
                    background-image: url(icons/al.svg);
                }
                
                .flag-icon-am {
                    background-image: url(icons/am.svg);
                }
                
                .flag-icon-ao {
                    background-image: url(icons/ao.svg);
                }
                
                .flag-icon-aq {
                    background-image: url(icons/aq.svg);
                }
                
                .flag-icon-ar {
                    background-image: url(icons/ar.svg);
                }
                
                .flag-icon-as {
                    background-image: url(icons/as.svg);
                }
                
                .flag-icon-at {
                    background-image: url(icons/at.svg);
                }
                
                .flag-icon-au {
                    background-image: url(icons/au.svg);
                }
                
                .flag-icon-aw {
                    background-image: url(icons/aw.svg);
                }
                
                .flag-icon-ax {
                    background-image: url(icons/ax.svg);
                }
                
                .flag-icon-az {
                    background-image: url(icons/az.svg);
                }
                
                .flag-icon-ba {
                    background-image: url(icons/ba.svg);
                }
                
                .flag-icon-bb {
                    background-image: url(icons/bb.svg);
                }
                
                .flag-icon-bd {
                    background-image: url(icons/bd.svg);
                }
                
                .flag-icon-be {
                    background-image: url(icons/be.svg);
                }
                
                .flag-icon-bf {
                    background-image: url(icons/bf.svg);
                }
                
                .flag-icon-bg {
                    background-image: url(icons/bg.svg);
                }
                
                .flag-icon-bh {
                    background-image: url(icons/bh.svg);
                }
                
                .flag-icon-bi {
                    background-image: url(icons/bi.svg);
                }
                
                .flag-icon-bj {
                    background-image: url(icons/bj.svg);
                }
                
                .flag-icon-bl {
                    background-image: url(icons/bl.svg);
                }
                
                .flag-icon-bm {
                    background-image: url(icons/bm.svg);
                }
                
                .flag-icon-bn {
                    background-image: url(icons/bn.svg);
                }
                
                .flag-icon-bo {
                    background-image: url(icons/bo.svg);
                }
                
                .flag-icon-bq {
                    background-image: url(icons/bq.svg);
                }
                
                .flag-icon-br {
                    background-image: url(icons/br.svg);
                }
                
                .flag-icon-bs {
                    background-image: url(icons/bs.svg);
                }
                
                .flag-icon-bt {
                    background-image: url(icons/bt.svg);
                }
                
                .flag-icon-bv {
                    background-image: url(icons/bv.svg);
                }
                
                .flag-icon-bw {
                    background-image: url(icons/bw.svg);
                }
                
                .flag-icon-by {
                    background-image: url(icons/by.svg);
                }
                
                .flag-icon-bz {
                    background-image: url(icons/bz.svg);
                }
                
                .flag-icon-ca {
                    background-image: url(icons/ca.svg);
                }
                
                .flag-icon-cc {
                    background-image: url(icons/cc.svg);
                }
                
                .flag-icon-cd {
                    background-image: url(icons/cd.svg);
                }
                
                .flag-icon-cf {
                    background-image: url(icons/cf.svg);
                }
                
                .flag-icon-cg {
                    background-image: url(icons/cg.svg);
                }
                
                .flag-icon-ch {
                    background-image: url(icons/ch.svg);
                }
                
                .flag-icon-ci {
                    background-image: url(icons/ci.svg);
                }
                
                .flag-icon-ck {
                    background-image: url(icons/ck.svg);
                }
                
                .flag-icon-cl {
                    background-image: url(icons/cl.svg);
                }
                
                .flag-icon-cm {
                    background-image: url(icons/cm.svg);
                }
                
                .flag-icon-cn {
                    background-image: url(icons/cn.svg);
                }
                
                .flag-icon-co {
                    background-image: url(icons/co.svg);
                }
                
                .flag-icon-cr {
                    background-image: url(icons/cr.svg);
                }
                
                .flag-icon-cu {
                    background-image: url(icons/cu.svg);
                }
                
                .flag-icon-cv {
                    background-image: url(icons/cv.svg);
                }
                
                .flag-icon-cw {
                    background-image: url(icons/cw.svg);
                }
                
                .flag-icon-cx {
                    background-image: url(icons/cx.svg);
                }
                
                .flag-icon-cy {
                    background-image: url(icons/cy.svg);
                }
                
                .flag-icon-cz {
                    background-image: url(icons/cz.svg);
                }
                
                .flag-icon-de {
                    background-image: url(icons/de.svg);
                }
                
                .flag-icon-dj {
                    background-image: url(icons/dj.svg);
                }
                
                .flag-icon-dk {
                    background-image: url(icons/dk.svg);
                }
                
                .flag-icon-dm {
                    background-image: url(icons/dm.svg);
                }
                
                .flag-icon-do {
                    background-image: url(icons/do.svg);
                }
                
                .flag-icon-dz {
                    background-image: url(icons/dz.svg);
                }
                
                .flag-icon-ec {
                    background-image: url(icons/ec.svg);
                }
                
                .flag-icon-ee {
                    background-image: url(icons/ee.svg);
                }
                
                .flag-icon-eg {
                    background-image: url(icons/eg.svg);
                }
                
                .flag-icon-eh {
                    background-image: url(icons/eh.svg);
                }
                
                .flag-icon-er {
                    background-image: url(icons/er.svg);
                }
                
                .flag-icon-es {
                    background-image: url(icons/es.svg);
                }
                
                .flag-icon-et {
                    background-image: url(icons/et.svg);
                }
                
                .flag-icon-fi {
                    background-image: url(icons/fi.svg);
                }
                
                .flag-icon-fj {
                    background-image: url(icons/fj.svg);
                }
                
                .flag-icon-fk {
                    background-image: url(icons/fk.svg);
                }
                
                .flag-icon-fm {
                    background-image: url(icons/fm.svg);
                }
                
                .flag-icon-fo {
                    background-image: url(icons/fo.svg);
                }
                
                .flag-icon-fr {
                    background-image: url(icons/fr.svg);
                }
                
                .flag-icon-ga {
                    background-image: url(icons/ga.svg);
                }
                
                .flag-icon-gb {
                    background-image: url(icons/gb.svg);
                }
                
                .flag-icon-gd {
                    background-image: url(icons/gd.svg);
                }
                
                .flag-icon-ge {
                    background-image: url(icons/ge.svg);
                }
                
                .flag-icon-gf {
                    background-image: url(icons/gf.svg);
                }
                
                .flag-icon-gg {
                    background-image: url(icons/gg.svg);
                }
                
                .flag-icon-gh {
                    background-image: url(icons/gh.svg);
                }
                
                .flag-icon-gi {
                    background-image: url(icons/gi.svg);
                }
                
                .flag-icon-gl {
                    background-image: url(icons/gl.svg);
                }
                
                .flag-icon-gm {
                    background-image: url(icons/gm.svg);
                }
                
                .flag-icon-gn {
                    background-image: url(icons/gn.svg);
                }
                
                .flag-icon-gp {
                    background-image: url(icons/gp.svg);
                }
                
                .flag-icon-gq {
                    background-image: url(icons/gq.svg);
                }
                
                .flag-icon-gr {
                    background-image: url(icons/gr.svg);
                }
                
                .flag-icon-gs {
                    background-image: url(icons/gs.svg);
                }
                
                .flag-icon-gt {
                    background-image: url(icons/gt.svg);
                }
                
                .flag-icon-gu {
                    background-image: url(icons/gu.svg);
                }
                
                .flag-icon-gw {
                    background-image: url(icons/gw.svg);
                }
                
                .flag-icon-gy {
                    background-image: url(icons/gy.svg);
                }
                
                .flag-icon-hk {
                    background-image: url(icons/hk.svg);
                }
                
                .flag-icon-hm {
                    background-image: url(icons/hm.svg);
                }
                
                .flag-icon-hn {
                    background-image: url(icons/hn.svg);
                }
                
                .flag-icon-hr {
                    background-image: url(icons/hr.svg);
                }
                
                .flag-icon-ht {
                    background-image: url(icons/ht.svg);
                }
                
                .flag-icon-hu {
                    background-image: url(icons/hu.svg);
                }
                
                .flag-icon-id {
                    background-image: url(icons/id.svg);
                }
                
                .flag-icon-ie {
                    background-image: url(icons/ie.svg);
                }
                
                .flag-icon-il {
                    background-image: url(icons/il.svg);
                }
                
                .flag-icon-im {
                    background-image: url(icons/im.svg);
                }
                
                .flag-icon-in {
                    background-image: url(icons/in.svg);
                }
                
                .flag-icon-io {
                    background-image: url(icons/io.svg);
                }
                
                .flag-icon-iq {
                    background-image: url(icons/iq.svg);
                }
                
                .flag-icon-ir {
                    background-image: url(icons/ir.svg);
                }
                
                .flag-icon-is {
                    background-image: url(icons/is.svg);
                }
                
                .flag-icon-it {
                    background-image: url(icons/it.svg);
                }
                
                .flag-icon-je {
                    background-image: url(icons/je.svg);
                }
                
                .flag-icon-jm {
                    background-image: url(icons/jm.svg);
                }
                
                .flag-icon-jo {
                    background-image: url(icons/jo.svg);
                }
                
                .flag-icon-jp {
                    background-image: url(icons/jp.svg);
                }
                
                .flag-icon-ke {
                    background-image: url(icons/ke.svg);
                }
                
                .flag-icon-kg {
                    background-image: url(icons/kg.svg);
                }
                
                .flag-icon-kh {
                    background-image: url(icons/kh.svg);
                }
                
                .flag-icon-ki {
                    background-image: url(icons/ki.svg);
                }
                
                .flag-icon-km {
                    background-image: url(icons/km.svg);
                }
                
                .flag-icon-kn {
                    background-image: url(icons/kn.svg);
                }
                
                .flag-icon-kp {
                    background-image: url(icons/kp.svg);
                }
                
                .flag-icon-kr {
                    background-image: url(icons/kr.svg);
                }
                
                .flag-icon-kw {
                    background-image: url(icons/kw.svg);
                }
                
                .flag-icon-ky {
                    background-image: url(icons/ky.svg);
                }
                
                .flag-icon-kz {
                    background-image: url(icons/kz.svg);
                }
                
                .flag-icon-la {
                    background-image: url(icons/la.svg);
                }
                
                .flag-icon-lb {
                    background-image: url(icons/lb.svg);
                }
                
                .flag-icon-lc {
                    background-image: url(icons/lc.svg);
                }
                
                .flag-icon-li {
                    background-image: url(icons/li.svg);
                }
                
                .flag-icon-lk {
                    background-image: url(icons/lk.svg);
                }
                
                .flag-icon-lr {
                    background-image: url(icons/lr.svg);
                }
                
                .flag-icon-ls {
                    background-image: url(icons/ls.svg);
                }
                
                .flag-icon-lt {
                    background-image: url(icons/lt.svg);
                }
                
                .flag-icon-lu {
                    background-image: url(icons/lu.svg);
                }
                
                .flag-icon-lv {
                    background-image: url(icons/lv.svg);
                }
                
                .flag-icon-ly {
                    background-image: url(icons/ly.svg);
                }
                
                .flag-icon-ma {
                    background-image: url(icons/ma.svg);
                }
                
                .flag-icon-mc {
                    background-image: url(icons/mc.svg);
                }
                
                .flag-icon-md {
                    background-image: url(icons/md.svg);
                }
                
                .flag-icon-me {
                    background-image: url(icons/me.svg);
                }
                
                .flag-icon-mf {
                    background-image: url(icons/mf.svg);
                }
                
                .flag-icon-mg {
                    background-image: url(icons/mg.svg);
                }
                
                .flag-icon-mh {
                    background-image: url(icons/mh.svg);
                }
                
                .flag-icon-mk {
                    background-image: url(icons/mk.svg);
                }
                
                .flag-icon-ml {
                    background-image: url(icons/ml.svg);
                }
                
                .flag-icon-mm {
                    background-image: url(icons/mm.svg);
                }
                
                .flag-icon-mn {
                    background-image: url(icons/mn.svg);
                }
                
                .flag-icon-mo {
                    background-image: url(icons/mo.svg);
                }
                
                .flag-icon-mp {
                    background-image: url(icons/mp.svg);
                }
                
                .flag-icon-mq {
                    background-image: url(icons/mq.svg);
                }
                
                .flag-icon-mr {
                    background-image: url(icons/mr.svg);
                }
                
                .flag-icon-ms {
                    background-image: url(icons/ms.svg);
                }
                
                .flag-icon-mt {
                    background-image: url(icons/mt.svg);
                }
                
                .flag-icon-mu {
                    background-image: url(icons/mu.svg);
                }
                
                .flag-icon-mv {
                    background-image: url(icons/mv.svg);
                }
                
                .flag-icon-mw {
                    background-image: url(icons/mw.svg);
                }
                
                .flag-icon-mx {
                    background-image: url(icons/mx.svg);
                }
                
                .flag-icon-my {
                    background-image: url(icons/my.svg);
                }
                
                .flag-icon-mz {
                    background-image: url(icons/mz.svg);
                }
                
                .flag-icon-na {
                    background-image: url(icons/na.svg);
                }
                
                .flag-icon-nc {
                    background-image: url(icons/nc.svg);
                }
                
                .flag-icon-ne {
                    background-image: url(icons/ne.svg);
                }
                
                .flag-icon-nf {
                    background-image: url(icons/nf.svg);
                }
                
                .flag-icon-ng {
                    background-image: url(icons/ng.svg);
                }
                
                .flag-icon-ni {
                    background-image: url(icons/ni.svg);
                }
                
                .flag-icon-nl {
                    background-image: url(icons/nl.svg);
                }
                
                .flag-icon-no {
                    background-image: url(icons/no.svg);
                }
                
                .flag-icon-np {
                    background-image: url(icons/np.svg);
                }
                
                .flag-icon-nr {
                    background-image: url(icons/nr.svg);
                }
                
                .flag-icon-nu {
                    background-image: url(icons/nu.svg);
                }
                
                .flag-icon-nz {
                    background-image: url(icons/nz.svg);
                }
                
                .flag-icon-om {
                    background-image: url(icons/om.svg);
                }
                
                .flag-icon-pa {
                    background-image: url(icons/pa.svg);
                }
                
                .flag-icon-pe {
                    background-image: url(icons/pe.svg);
                }
                
                .flag-icon-pf {
                    background-image: url(icons/pf.svg);
                }
                
                .flag-icon-pg {
                    background-image: url(icons/pg.svg);
                }
                
                .flag-icon-ph {
                    background-image: url(icons/ph.svg);
                }
                
                .flag-icon-pk {
                    background-image: url(icons/pk.svg);
                }
                
                .flag-icon-pl {
                    background-image: url(icons/pl.svg);
                }
                
                .flag-icon-pm {
                    background-image: url(icons/pm.svg);
                }
                
                .flag-icon-pn {
                    background-image: url(icons/pn.svg);
                }
                
                .flag-icon-pr {
                    background-image: url(icons/pr.svg);
                }
                
                .flag-icon-ps {
                    background-image: url(icons/ps.svg);
                }
                
                .flag-icon-pt {
                    background-image: url(icons/pt.svg);
                }
                
                .flag-icon-pw {
                    background-image: url(icons/pw.svg);
                }
                
                .flag-icon-py {
                    background-image: url(icons/py.svg);
                }
                
                .flag-icon-qa {
                    background-image: url(icons/qa.svg);
                }
                
                .flag-icon-re {
                    background-image: url(icons/re.svg);
                }
                
                .flag-icon-ro {
                    background-image: url(icons/ro.svg);
                }
                
                .flag-icon-rs {
                    background-image: url(icons/rs.svg);
                }
                
                .flag-icon-ru {
                    background-image: url(icons/ru.svg);
                }
                
                .flag-icon-rw {
                    background-image: url(icons/rw.svg);
                }
                
                .flag-icon-sa {
                    background-image: url(icons/sa.svg);
                }
                
                .flag-icon-sb {
                    background-image: url(icons/sb.svg);
                }
                
                .flag-icon-sc {
                    background-image: url(icons/sc.svg);
                }
                
                .flag-icon-sd {
                    background-image: url(icons/sd.svg);
                }
                
                .flag-icon-se {
                    background-image: url(icons/se.svg);
                }
                
                .flag-icon-sg {
                    background-image: url(icons/sg.svg);
                }
                
                .flag-icon-sh {
                    background-image: url(icons/sh.svg);
                }
                
                .flag-icon-si {
                    background-image: url(icons/si.svg);
                }
                
                .flag-icon-sj {
                    background-image: url(icons/sj.svg);
                }
                
                .flag-icon-sk {
                    background-image: url(icons/sk.svg);
                }
                
                .flag-icon-sl {
                    background-image: url(icons/sl.svg);
                }
                
                .flag-icon-sm {
                    background-image: url(icons/sm.svg);
                }
                
                .flag-icon-sn {
                    background-image: url(icons/sn.svg);
                }
                
                .flag-icon-so {
                    background-image: url(icons/so.svg);
                }
                
                .flag-icon-sr {
                    background-image: url(icons/sr.svg);
                }
                
                .flag-icon-ss {
                    background-image: url(icons/ss.svg);
                }
                
                .flag-icon-st {
                    background-image: url(icons/st.svg);
                }
                
                .flag-icon-sv {
                    background-image: url(icons/sv.svg);
                }
                
                .flag-icon-sx {
                    background-image: url(icons/sx.svg);
                }
                
                .flag-icon-sy {
                    background-image: url(icons/sy.svg);
                }
                
                .flag-icon-sz {
                    background-image: url(icons/sz.svg);
                }
                
                .flag-icon-tc {
                    background-image: url(icons/tc.svg);
                }
                
                .flag-icon-td {
                    background-image: url(icons/td.svg);
                }
                
                .flag-icon-tf {
                    background-image: url(icons/tf.svg);
                }
                
                .flag-icon-tg {
                    background-image: url(icons/tg.svg);
                }
                
                .flag-icon-th {
                    background-image: url(icons/th.svg);
                }
                
                .flag-icon-tj {
                    background-image: url(icons/tj.svg);
                }
                
                .flag-icon-tk {
                    background-image: url(icons/tk.svg);
                }
                
                .flag-icon-tl {
                    background-image: url(icons/tl.svg);
                }
                
                .flag-icon-tm {
                    background-image: url(icons/tm.svg);
                }
                
                .flag-icon-tn {
                    background-image: url(icons/tn.svg);
                }
                
                .flag-icon-to {
                    background-image: url(icons/to.svg);
                }
                
                .flag-icon-tr {
                    background-image: url(icons/tr.svg);
                }
                
                .flag-icon-tt {
                    background-image: url(icons/tt.svg);
                }
                
                .flag-icon-tv {
                    background-image: url(icons/tv.svg);
                }
                
                .flag-icon-tw {
                    background-image: url(icons/tw.svg);
                }
                
                .flag-icon-tz {
                    background-image: url(icons/tz.svg);
                }
                
                .flag-icon-ua {
                    background-image: url(icons/ua.svg);
                }
                
                .flag-icon-ug {
                    background-image: url(icons/ug.svg);
                }
                
                .flag-icon-um {
                    background-image: url(icons/um.svg);
                }
                
                .flag-icon-us {
                    background-image: url(icons/us.svg);
                }
                
                .flag-icon-uy {
                    background-image: url(icons/uy.svg);
                }
                
                .flag-icon-uz {
                    background-image: url(icons/uz.svg);
                }
                
                .flag-icon-va {
                    background-image: url(icons/va.svg);
                }
                
                .flag-icon-vc {
                    background-image: url(icons/vc.svg);
                }
                
                .flag-icon-ve {
                    background-image: url(icons/ve.svg);
                }
                
                .flag-icon-vg {
                    background-image: url(icons/vg.svg);
                }
                
                .flag-icon-vi {
                    background-image: url(icons/vi.svg);
                }
                
                .flag-icon-vn {
                    background-image: url(icons/vn.svg);
                }
                
                .flag-icon-vu {
                    background-image: url(icons/vu.svg);
                }
                
                .flag-icon-wf {
                    background-image: url(icons/wf.svg);
                }
                
                .flag-icon-ws {
                    background-image: url(icons/ws.svg);
                }
                
                .flag-icon-ye {
                    background-image: url(icons/ye.svg);
                }
                
                .flag-icon-yt {
                    background-image: url(icons/yt.svg);
                }
                
                .flag-icon-za {
                    background-image: url(icons/za.svg);
                }
                
                .flag-icon-zm {
                    background-image: url(icons/zm.svg);
                }
                
                .flag-icon-zw {
                    background-image: url(icons/zw.svg);
                }
                
                .flag-icon-eu {
                    background-image: url(icons/eu.svg);
                }
                
                .flag-icon-gb-eng {
                    background-image: url(icons/gb-eng.svg);
                }
                
                .flag-icon-gb-nir {
                    background-image: url(icons/gb-nir.svg);
                }
                
                .flag-icon-gb-sct {
                    background-image: url(icons/gb-sct.svg);
                }
                
                .flag-icon-gb-wls {
                    background-image: url(icons/gb-wls.svg);
                }
                
                .flag-icon-un {
                    background-image: url(icons/un.svg);
                }
            </style>
        </custom-style>
    </template>
</dom-module>